.form-page {
  align-items: center;
  background-image: url('../assets/bg-stars.png');
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
}

.web-title {
  text-align: center;
  color: var(--main-color);
  font-family: 'Starjedi';
  font-size: 34px;
  max-width: 800px;
  min-width: 200px;
  text-shadow: 0 0 20px var(--main-color);
  width: 70%;
}

.form-page > p {
  color: var(--main-color);
  font-size: 12px;
}

.form-field {
  background-color: #080808;
  border-color: goldenrod;
  border-radius: 5px;
  border-style: solid;
  border-width: medium;
  box-sizing: border-box;
  margin-top: 20px;
  max-width: 800px;
  min-width: 300px;
  resize: none;
  width: 80%;
  word-break: break-word;
}

.form-field:hover {
  box-shadow: 0 0 5px var(--main-color);
}

.form-field:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  outline: none;
}

textarea, input {
  font-size: 12px;
}

.textarea-prelude {
  color: var(--secondary-color);
  padding: 10px 10%;
}

.textarea-title {
  caret-color: var(--main-color);
  color: #000;
  font-family: 'Starjedi';
  font-size: 50px;
  letter-spacing: initial;
  line-height: 86%;
  padding-block: 20px;
  text-align: center;
  text-shadow: -2px -2px 0 #ffd54e, -2px -1px 0 #ffd54e, -2px 0 0 #ffd54e,
    -2px 1px 0 #ffd54e, -2px 2px 0 #ffd54e, -1px -2px 0 #ffd54e,
    -1px -1px 0 #ffd54e, -1px 0 0 #ffd54e, -1px 1px 0 #ffd54e,
    -1px 2px 0 #ffd54e, 0 -2px 0 #ffd54e, 0 -1px 0 #ffd54e, 0 0 0 #ffd54e,
    0 1px 0 #ffd54e, 0 2px 0 #ffd54e, 1px -2px 0 #ffd54e, 1px -1px 0 #ffd54e,
    1px 0 0 #ffd54e, 1px 1px 0 #ffd54e, 1px 2px 0 #ffd54e, 2px -2px 0 #ffd54e,
    2px -1px 0 #ffd54e, 2px 0 0 #ffd54e, 2px 1px 0 #ffd54e, 2px 2px 0 #ffd54e;
}

.form-page > input {
  color: var(--main-color);
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 0.05em;
  padding: 5px;
  text-align: center;
}

.textarea-crawl-text {
  color: var(--main-color);
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 0.05em;
  padding: 5px;
  text-align: justify;
  height: 300px;
}

.form-button {
  background-color: #000;
  margin-top: 50px;
}

.form-page > span {
  color: red;
  font-size: 18px;
  text-shadow: 0 0 10px red;
}

/* Responsive Design */
@media (min-width: 640px) {
  .web-title {
    font-size: 40px;
  }

  .form-page > p {
    font-size: 16px;
  }

  textarea, input {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .web-title {
    font-size: 44px;
  }

  .form-page > p {
    font-size: 18px;
  }

  textarea, input {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  textarea, input {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .form-page > p {
    font-size: 20px;
  }

  textarea, input {
    font-size: 20px;
  }
}

@media (min-width: 1536px) {
  textarea, input {
    font-size: 22px;
  }
}
