.star-wars-intro-background {
  height: 100%;
  width: 100%;
}

.star-wars-intro-background-animation {
  animation-fill-mode: forwards;
  animation: moveBG 89s linear;
  transform: translateY(-100vh);
}

.star-background-1 {
  background-image: url('../assets/bg-stars.png');
  height: 100vh;
  width: 100vw;
}

/* Animations */
@keyframes moveBG {
  from {
    transform: translateY(0);
  }
  97% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

