/* Fonts */
@font-face {
  font-family: 'Starjedi';
  src: url('./styles/fonts/Starjedi.ttf');
}

@font-face {
  font-family: 'Prelude';
  src: url('./styles/fonts/PathwayGothicOne-Regular.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Color */
  --main-color: #ffd54e;
  --secondary-color: #4bd5ee;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
  text-shadow: 0 0 10px var(--secondary-color);
}
a:hover {
  color: red;
  text-shadow: 0 0 10px red;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: black;
  border-color: goldenrod;
  border-radius: 8px;
  border-style: solid;
  border-width: medium;
  color: var(--main-color);
  cursor: pointer;
  font-family: 'Starjedi';
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-color);
  box-shadow: 0 0 30px var(--main-color);
  text-shadow: 0 0 30px var(--main-color);
}
button:focus,
button:focus-visible {
  border-color: var(--main-color);
  box-shadow: 0 0 40px var(--main-color);
  outline: none;
  text-shadow: 0 0 40px var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
